[Unit]
Description=Jenkins inbound agent
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
User={{ agent_user }}
WorkingDirectory={{ jenkins_home }}
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/jenkins-agent
ExecStopPost=rm -rf {{ jenkins_home }}/.ready
Environment="JENKINS_HOME={{ jenkins_home }}"
Environment="HOME={{ jenkins_home }}"
Environment="USER={{ agent_user }}"

[Install]
WantedBy=multi-user.target
