name: Integration tests

on:
  pull_request:
  schedule:
  - cron: "0 15 * * SAT"

jobs:
  integration-tests:
    permissions:
      contents: read
      packages: write
    uses: 
      canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    with:
      pre-run-script: |
        -c "sudo microk8s config > ${GITHUB_WORKSPACE}/kube-config
        ./tests/integration/setup_microk8s.sh"
      juju-channel: 3/stable
      channel: 1.34-strict/edge
      self-hosted-runner: true
      self-hosted-runner-label: edge

  integration-tests-non-amd64:
    strategy:
      matrix:
        runtime: [s390x, arm64, ppc64le]
    permissions:
      contents: read
      packages: write
    uses: 
      canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    with:
      juju-channel: 3/stable
      provider: lxd
      extra-arguments: "--use-docker"
      builder-runner-label: ${{ matrix.runtime }}
      self-hosted-runner: true
      self-hosted-runner-arch: ${{ matrix.runtime }}
      self-hosted-runner-label: ${{ matrix.runtime }}
  allure-report:
    if: ${{ (success() || failure()) && github.event_name == 'schedule' }}
    needs:
    - integration-tests
    - integration-tests-non-amd64
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
