name: integration tests

on:
  pull_request:
  schedule:
    - cron: "0 15 * * SAT"

jobs:
  integration-tests-amd64:
    permissions:
      contents: read
      packages: write
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    with:
      pre-run-script: |
        -c "sudo microk8s config > ${GITHUB_WORKSPACE}/kube-config
        ./tests/integration/setup_microk8s.sh"
      juju-channel: 3/stable
      channel: 1.34-strict/edge
      self-hosted-runner: true
      self-hosted-runner-label: edge

      with-uv: true
  integration-tests-non-amd64:
    strategy:
      matrix:
        runtime: [s390x, arm64, ppc64le]
    permissions:
      contents: read
      packages: write
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    with:
      juju-channel: 3/stable
      provider: lxd
      extra-arguments: "--use-docker"
      builder-runner-label: ${{ matrix.runtime }}
      self-hosted-runner: true
      self-hosted-runner-arch: ${{ matrix.runtime }}
      self-hosted-runner-label: ${{ matrix.runtime }}
      with-uv: true
  allure-report:
    if: ${{ !cancelled() && github.event_name == 'schedule' }}
    needs:
      - integration-tests
      - integration-tests-non-amd64
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main

  integration-tests:
    name: Required Integration Test Status Checks
    runs-on: ubuntu-latest
    needs:
      - integration-tests-amd64
      - integration-tests-non-amd64
    if: always() && !cancelled()
    timeout-minutes: 5
    steps:
      - run: |
          [ '${{ needs.integration-tests-amd64.result }}' = 'success' ] || (echo integration-tests-amd64 failed && false)
          [ '${{ needs.integration-tests-non-amd64.result }}' = 'success' ] || (echo integration-tests-non-amd64 failed && false)
